@keyframes nodeInserted {
    from { opacity: 0.99; }
    to { opacity: 1; }
}

#player-container-id,
#player,
#movie_player,
.watch-below-the-player,
.video-ads.ytp-ad-module .ytp-ad-player-overlay,
ytm-settings,
grid-shelf-view-model,
ytm-shorts-lockup-view-model,
.pivot-bar-item-tab.pivot-shorts,
a[href^="/shorts/"] {
    animation-duration: 0.001s;
    animation-name: nodeInserted;
}